<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Standard Meta -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <!-- Site Properties -->
    <title>Grid Example - Semantic</title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/Semantic-UI-CSS-master/semantic.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/custom.css}">

</head>
<body>
    <div>
        <form method="POST" th:action="@{/ajouter}" th:object="${formUtilisateur}">
            <h3 class="ui dividing header" th:text="#{libelle.ajout.utilisateur.titre}"></h3>
            <div class="field">
                <label th:text="#{formulaire.ajout.utilisateur.prenom}"></label>
                <input type="text" placeholder="Prénom" th:field="*{prenom}">
            </div>
            <div class="field">
                <label th:text="#{formulaire.ajout.utilisateur.nom}"></label>
                <input type="text" placeholder="Nom" th:field="*{nom}">
            </div>
            <div class="field">
                <label th:text="#{formulaire.ajout.utilisateur.image}"></label>
                <input type="text" placeholder="URL" th:field="*{imageUrl}">
            </div>
            <div class="field">
                <div class="ui checkbox field">
                    <label th:text="#{formulaire.ajout.utilisateur.profil}"></label>
                    <input type="checkbox" th:field="*{visibility}">
                </div>
            </div>
            <button class="ui button" type="submit" th:text="#{button.envoyer}"></button>
        </form>
    </div>

</body>
</html>