<!DOCTYPE html>
<html>
    <head>
        <!-- Standard Meta -->
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

        <!-- Site Properties -->
        <title>Grid Example - Semantic</title>

        <link rel="stylesheet" type="text/css" th:href="@{/css/Semantic-UI-CSS-master/semantic.min.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/css/custom.css}">

    </head>

    <body>
        <button onclick="generate()" class="ui primary button">
            Generate
        </button>
        <div class="ui icon message">
            <i class="inbox icon"></i>
            <div class="content">
              <div class="header">
                This is my favorite expression
              </div>
              <p id="txtChuck">...</p>
            </div>
          </div>
        </div>
        
    
        <script src="../lib/Semantic-UI-CSS-master/semantic.js"></script>
        <script src="js/fetch.js"></script> 

    </body>
</html>