<!DOCTYPE html>
<html>
    <head>
        <!-- Standard Meta -->
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

        <!-- Site Properties -->
        <title>Grid Example - Semantic</title>

        <link rel="stylesheet" type="text/css" th:href="@{/css/Semantic-UI-CSS-master/semantic.min.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/css/custom.css}">

    </head>

    <body>
        <div class="ui five column grid">
            <div class="row"></div>
            <div class="column"></div>
            <div class="column"></div>
            <div class="column">
                <form class="ui form" action="./addData" method="GET">
                    <h3 class="ui dividing header">Add User Information</h3>
                    <div class="field">
                        <label>Surname Name</label>
                        <input type="text" name="first-name" placeholder="First Name">
                    </div>
                    <div class="field">
                        <label>Last Name</label>
                        <input type="text" name="last-name" placeholder="Last Name">
                    </div>
                    <div class="field">
                        <div class="ui checkbox field">
                            <input type="checkbox" name="pvisible">
                            <label>Make my profile visible</label>
                        </div>
                    </div>
                    <button class="ui button" type="submit" >Submit</button>
                </form>
            </div>
        </div>
    </body>
</html>